.b {
  background-position: center;
  background-size: cover;
  padding: 20px 0px;
  color: white;
  width: 80%;
  height: 350px;
  margin-top: -70px;
}

.info {
  width: 35%
}

.banner {
  background-position: center;
  background-size: cover;
  padding: 200px 0px;
  color: white;
  width: 100%;
}
